<div class="site-header">
    <h1 class="site-title">Good {{ calculatedValue }} {{ title }}</h1>
    <nav class="site-nav">
      <ul>
        <li><a routerLink="/home"><i class="fas fa-home"></i> Home</a></li>
        <li><a routerLink="/list"><i class="fas fa-list"></i> Student List</a></li>
        <li><a routerLink="/add"><i class="fas fa-user-plus"></i> Add New Student</a></li>
        <li><a routerLink="/setting"><i class="fas fa-cog"></i> Settings</a></li>
        <li><a routerLink="/login"><i class="fas fa-sign-in-alt"></i> Login</a></li>
        <li><a routerLink="/obser"><i class="fas fa-eye"></i> Observable</a></li>
      </ul>
    </nav>
  </div>
  <router-outlet></router-outlet>
  