<div class="home">
  <h1>The Project</h1>
  <p>This project demonstrates a list of students. You can add, update, and delete student details.</p>
  
  <div class="container"  appDirectionToggle>
    <div class="content"  >
      <p  >בדיקת כיוון</p>
    </div>
    <div class="button-container">
      <button class="direction-button rtl-button" (click)="setDirection('RTL')">עברית</button>
      <button class="direction-button ltr-button" (click)="setDirection('LTR')">English</button>
    </div>
  </div>
</div>
