body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: auto;
}

.card {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.card-header {
  //background-color:  hsl(45, 66%, 47%);
 // color: #fff;
  color: #333;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
}

.card-body {
  padding: 15px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  background-color: #e7e7e7;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.nav-links a:hover {
  background-color: #d7d7d7;
}
